{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="flex hover:text-blue-500">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
        <path d="M15 19L7 12L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
    <a href="{% url 'agents:agent-list' %}">Go back to agents</a>
</div>
<div class="max-w-lg mx-auto mt-6">
    <h1 class="text-3xl text-gray-800 mb-4">Delete {{ agent.user.first_name }} {{agent.user.last_name}}'s profile </h1>
    <p1> Are you sure you want to delete {{ agent.user.first_name }} {{agent.user.last_name}}'s profile? </p1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="w-full flex justify-between mt-6">
            <button class="w-full text-white bg-gray-300 hover:bg-gray-600 px-3 py-2 rounded-md mr-2"><a href="{% url 'agents:agent-list' %}">No, cancel</a></button>
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Yes, delete</button>
        </div>
        
    </form>
</div>
{% endblock content %}