{% extends 'base.html' %}

{% block content %}
<div class="flex hover:text-blue-500">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
      <path d="M15 19L7 12L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <a href="{{ request.META.HTTP_REFERER }}">Go back</a>
  </div>
    <h2 class="text-2xl font-semibold mb-4">{{ property.name }}</h2>
    <p>{{ property.description }}</p>
    <h3 class="text-xl font-semibold mt-6 mb-4">Apartments</h3>
    <a href="{% url 'properties:apartment-create' %}" class="bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-600">Add Apartments</a>
    <div class="grid grid-cols-3 gap-4 mt-6">
        {% for apartment in property.apartments.all %}
            <div class="border border-gray-200 p-4 rounded shadow">
                <a href="{% url 'properties:apartment-detail' pk=apartment.pk %}"><img class="w-full h-40 object-cover rounded" src="{{ apartment.image.url }}" alt="{{ apartment.name }}"></a>                <h4 class="text-lg font-semibold">{{ apartment.name }}</h4>
                <p>{{ apartment.description }}</p>
                <p>Rent: Rs {{ apartment.rent }}</p>
            </div>
        {% empty %}
            <p>No apartments found.</p>
        {% endfor %}
    </div>
{% endblock %}
